body {
  background-image: url('/img/background-image.jpg');
  background-size: cover;
  font-family: 'space-grotesk', sans-serif;
}

.section {
  margin: 56px 0;
}

.section-title-wrapper {
  margin-bottom: 34px;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
