// colors
$black: #000;
$dark: #4B4B4B;
$white: #fff;
$gray: #9B9A99;
$light-gray: #C6C5C6;

$primary: $black;
$secondary: $gray;
// END colors

// typography
$font-family-main: 'space-grotesk', sans-serif;

$heading-text-color: $primary;
$text-color-primary: $primary;
$text-color-secondary: $secondary;
// END typography

// utility
$animation-duration: .2s;
// END utility

// components
$button-size: 68px;
//END components
